@model Group13iFinanceFix.Models.FinanceTransaction

@{
    ViewBag.Title = "Details";
}
<br />
<div class="mb-3">
    <a class="btn back-button" href="/FinanceTransactions/Index">&larr; Back</a>
</div>
<h2>Details</h2>
<hr />

<div>
    <h4>FinanceTransaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Transaction Date
        </dt>
        <dd class="col-sm-10">
            @{ var date = Model.TransactionDate?.ToString("yyyy-MM-dd"); @date }
        </dd>
        <dt class="col-sm-2">
            Comment
        </dt>
        <dd class="col-sm-10">
            @Model.TransactionDescription
        </dd>
    </dl>
</div>

<h4>Transaction Lines</h4>
<table class="table">
    <thead>
        <tr>
            <th>First Master Account</th>
            <th>Second Master Account</th>
            <th>Credited Amount</th>
            <th>Debited Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.TransactionLine)
        {
            <tr>
                <td>@ViewBag.MasterAccountNames[line.firstMasterAccount]</td>
                <td>@ViewBag.MasterAccountNames[line.secondMasterAccount] </td>
                <td>@line.creditedAmount</td>
                <td>@line.debitAmount</td>
            </tr>
        }
    </tbody>
</table>