@model IEnumerable<Group13iFinanceFix.Models.FinanceTransaction>

@{
    ViewBag.Title = "Transactions";
}
<br />
<div class="mb-3">
    <a class="btn back-button" href="/NonAdmin/NonAdminDashboard">&larr; Back</a>
</div>
<h2>Financial Transactions</h2>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>Transaction Date</th>
            <th>Comment</th>
            <th>Number of Transaction Lines</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionDescription)
                </td>
                <td>@{ var count = item.TransactionLine?.Count(); @Html.DisplayFor(modelItem => count) }</td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-sm btn-warning" })
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-sm btn-secondary" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="mb-3">
    <a class="btn btn-outline-primary" href="/FinanceTransactions/Create">Begin Transaction</a>
</div>
